
        .navbar-sidebar {
            padding-left: 0px;
            padding-top: 9px;
            padding-bottom: 0;
            font: bold;
            height: 1006px;
            width: 260px;
            left: 0px;
            top: 0px;
            border-radius: 0px;
            background: #F3F3F3;
        }
        
        .file_upload{
            padding: 0px;
            margin-top: 15px;
        }

        .menu-sidebar{
            background-color: #F3F3F3;
            height: 1006px;
            width: 260px;
            left: 0px;
            top: 0px;
            border-radius: 0px;
        }

        .row {
            flex-wrap: wrap;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
        
        body {
            font-size: 12px !important;
        }

        #side_log {
            max-width: 148%;
            height: auto;
            margin-left: -31px;
            background: #F3F3F3;
        }
       
        .antialiased{
            margin-top: -10px;
        }
        .header-desktop{
            background: #4077E4;

        }

        .menu-sidebar__content {
            width: max-content;
        }
        input[type="file"]{
            color: transparent;
        }

        .form-group {
            margin-bottom: -0.2rem;
        }
        .file_list{
            height: 76px;
            width: 245px;
            left: 0px;
            top: 0px;
            border-radius: 2px;
            background: #FFFFFF;
        }

        #header_div{
            width: 245px;
            height: 76px;
            position: absolute;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;

            background: #FFFFFF;
            border: 1px solid #E8EAEF;
            box-sizing: border-box;
            box-shadow: 0px 3px 6px rgba(57, 65, 102, 0.05);
            border-radius: 2px;
        }
        #heading_name{
            height: 18px;
            width: 162px;
            margin-left: 15px;
            margin-right: 68px;
            margin-top: 15px;
            font-family: "Neue Alte Grotesk";
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
            border-radius: nullpx;
            color: #394166;
        }

        #header_name{
            height: 14px;
            width: 163px;
            margin-left: 16px;
            margin-right: 66px;
            margin-bottom: 19.74%;
            font-family: "Neue Alte Grotesk";
            font-size: 12px;
            line-height: 14px;
            /* identical to box height */
            border-radius: nullpx;
            color: #394166;
        }   

        #space_col{
            position: absolute;
            width: 5px;
            height: 76px;
            margin-left: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            background: #4077E4;
            border-radius: 2px 0px 0px 2px;
            
        }

        .show_pdf{
            height: 718px;
            width: 100;
            margin-left: 60px;
            margin-top: -16px;
            border-radius: 0px;
        }

        .header-desktop{
            margin-left: 45px;
        }

        .main-content, .page-container {
            background: #FFFFFF;
        }

        .page-wrapper {
            background: #FFFFFF;
        }

        #header_section{
            font-family: 'Neue Alte Grotesk';
            font-size: 18px;
            line-height: 26px;
            color: #FFFFFF;
        }